numpy
scipy
sounddevice
soundfile
librosa
pydub

webrtcvad-wheels
noisereduce

openai-whisper
torch
torchaudio

gtts
pyttsx3

websockets
aiohttp

protobuf
jiwer

python-dotenv
tqdm
colorama

streamlit
plotly
matplotlib
seaborn
pandas
pillow

streamlit-webrtc
streamlit-option-menu
streamlit-audiorec
